<style type="css">
</style>
<div class="toolbar" role="banner">
  <span>Welcome</span>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>{{ title }}</span>

  </div>

  <!-- Resources -->
  <h2>File translate</h2>
  <p>Import your file</p>

  <div class="card-container">
    <label id="lbl">File </label>
    <input type='file' (change)="fileChanged($event)">
  </div>
  <div class="card-container">
    <button class="card card-small" (click)="importDocument()" tabindex="0">
      <span>Import File</span>
    </button>
    <label >Items per page </label>
    <input type='number' (change)="itemsPerPageChanged($event)" value="1000">
  </div>
  <div class="card-container">
    <div>
      <input type="checkbox" [checked]="typeTiming.selected" (change)="typeTiming.selected = !typeTiming.selected; loadContent()">
      <label >{{ typeTiming.selected ? 'Time tracking' : 'Only Text'}}</label>
    </div>
    <div #content></div>
    <div *ngIf="typeTiming.selected">
      <a href="#" *ngFor="let page of pagination.pages, let i = index"
        (click)="pagination.current = i; showCurrentPage()"
        [ngClass]="{'active': pagination.current == i}">
        {{i+1}}
      </a>
    </div>
  </div>

  <h2>Audio file</h2>
  <p>Import your mp3</p>

  <div class="card-container">
    <label>Audio </label>
    <input type='file' (change)="audioChanged($event)">
    <select class="form-control" id="allocation-algorithm" (change)="changePlayback($event)">
      <option *ngFor="let vel of [1, 1.5, 1.75, 2, 2.25, 2.5]" [value]="vel">{{vel}}</option>
    </select>
  </div>
  <div class="card-container">
    <audio #audio controls="true" style="width: 100%;"></audio>
  </div>
  <!-- Footer -->
  <footer>
      <a href="https://github.com/tonycesar/transcription-viewer" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
  </footer>
</div>
